.idea
.vscode
*.pyc
examples/datasets/*/
examples/output
sentence_transformers.egg-info
dist/
examples_nr/
datasets/
result/

# report middle files
*.log
*.tmp
*.aux
*.out
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.lof
